<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jagdeepsingh.samplepro">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    // Permission for wif peer to peer
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqFovy_6CmSHPJIodZ7VeDrCE5QGIR3J8" />

        <activity android:name=".MainActivity" />
        <activity android:name=".asyncTask.ExecutorActivity" />
        <activity
            android:name=".headless.HeadlessActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".recycler.MyRecyclerActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".map.MapActivity" />
        <activity android:name=".material.bottomSheet.BottomActivity" />

        <!-- working copy of camera 2 -->


        <!-- FaceDetector API example -->
        <activity android:name=".material.faceDetection.FaceDetectionActivity" />
        <activity android:name=".material.transition.FirstTransitionActivity" />
        <activity android:name=".material.transition.SecondTransitionActivity" />
        <activity android:name=".wear.SelfNotificationActivity" />
        <activity android:name=".firebase.realTimeDatabase.activity.UploadUserActivity" />
        <activity android:name=".firebase.realTimeDatabase.activity.IotActivity" />
        <activity android:name=".services.MyServiceActivity" />

        <service
            android:name=".services.MySimpleService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyIntentService"
            android:exported="false" />
        <service
            android:name=".camera2.Service.MyCameraService"
            android:exported="false" />

        <activity android:name=".DownloadManager.DownloadManagerActivity" />
        <activity android:name=".firebase.LoginReg.LoginActivity" />
        <activity android:name=".firebase.LoginReg.RegisterationActivity" />
        <activity android:name=".firebase.LoginReg.ForgotPasswordActivity" />
        <activity android:name=".firebase.LoginReg.DashboardActivity" />
        <activity android:name=".map.PolylineDemoActivity" />
        <activity android:name=".material.constraint.ConstraintActivity" />
        <activity android:name=".material.constraint.ConstraintRegister" />
        <activity android:name=".wirelessConnectivity.NsdChatActivity" />
        <activity android:name=".wirelessConnectivity.p2p.P2pActivity" />
        <activity android:name=".imageCaching.CacheDemoActivity" />
        <activity android:name=".imageCaching.demo.ImageViewFromURLActivity" />
        <activity android:name=".contentProvider.DatabaseActivity" />
        <activity android:name=".contentProvider.CountryEdit" />

        <provider
            android:name=".contentProvider.MyContentProvider"
            android:authorities="com.example.jagdeepsingh.samplepro.contentProvider"
            android:exported="true"
            android:readPermission="true"
            android:writePermission="true" />

        <activity
            android:name=".activity.ListActivity"
            android:parentActivityName=".activity.LaunchActivity" />
        <activity
            android:name=".activity.DetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.ListActivity" />
        <activity android:name=".activity.LaunchActivity" />
        <activity android:name=".material.collapsingToolBar.CollapsingToolbarActivity" />
        <activity android:name=".handler.ThreadActivity" />
        <activity android:name=".handler.HandlerThreadActivity" />

        <service
            android:name=".services.bound.MyBoundService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".services.bound.BoundActivity" />
        <activity android:name=".material.constraint.ListConstraint" />
        <activity android:name=".RxRetro.view.ActivityView">
        </activity>
        <activity android:name=".GodActivity.activity.MyChildActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".camera2.AndroidCameraApi"
            android:excludeFromRecents="true" />

        <service
            android:name=".camera2.Service.AndroidCameraApiWithoutSerfaceService"
            android:excludeFromRecents="true" />

        <receiver android:name=".camera2.reciever.UserPresentBroadcastReceiver">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
            <!-- </intent-filter> -->
        </receiver>

        <activity
            android:name=".camera2.EntryCameraActivity"
            android:excludeFromRecents="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".eventBus.activities.SourceActivity" />
        <activity android:name=".eventBus.activities.DestinationActivity" />
        <activity android:name=".imageCaching.demo.TCMainActivity" />
        <activity android:name=".imageCaching.demo.TC2" />
        <activity android:name=".asyncTask.AsyncTestActivity1" />
        <activity android:name=".asyncTask.AsyncTaskActivity2" />
        <activity android:name=".DownloadManager.intentDownloader.activity.CustomDownloadActivity" />

        <receiver android:name=".InternetObserver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".InternetObserver.IntenetActivity"></activity>
        <activity
            android:name=".sudan.MeetingActivity"
            android:label="@string/title_activity_meeting"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sudan.DinnerActivity"
            android:label="@string/title_activity_dinner"
            android:theme="@style/AppTheme" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".camera2.videoRecord.Camera2Video" />
        <activity android:name=".dagger2.Activities.MainDaggerActivity"></activity>
        <activity android:name=".fragment.MainFragmentContainerActivity">
        </activity>
    </application>

</manifest>