<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jagdeepsingh.samplepro">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    // Permission for wif peer to peer
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqFovy_6CmSHPJIodZ7VeDrCE5QGIR3J8" />

        <activity android:name=".MainActivity" />
        <activity android:name=".asyncTask.ExecutorActivity" />
        <activity
            android:name=".headless.HeadlessActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".recycler.MyRecyclerActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".map.MapActivity" />
        <activity android:name=".camera.BasicCameraActivity" />
        <activity android:name=".camera.AndroidCameraApi" />
        <activity android:name=".camera.AndroidBackgroundCameraAPI" />
        <activity android:name=".material.bottomSheet.BottomActivity" />

        <!-- working copy of camera 2 -->
        <activity android:name=".camera.AndroidCameraApi2" />

        <service android:name=".camera.service.SimpleCamera2ServicePublish" />

        <activity android:name=".camera.MyCustomCamera2" />
        <!-- FaceDetector API example -->
        <activity android:name=".material.faceDetection.FaceDetectionActivity" />

        <service
            android:name=".camera.service.MyCamera1Service"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".material.transition.FirstTransitionActivity" />
        <activity android:name=".material.transition.SecondTransitionActivity" />
        <activity android:name=".wear.SelfNotificationActivity" />
        <activity android:name=".firebase.realTimeDatabase.activity.UploadUserActivity" >
        </activity>
        <activity android:name=".firebase.realTimeDatabase.activity.IotActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".services.MyServiceActivity" />

        <service
            android:name=".services.MySimpleService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MyIntentService"
            android:exported="false" />

        <activity android:name=".DownloadManager.DownloadManagerActivity" />
        <activity android:name=".firebase.LoginReg.LoginActivity" />
        <activity android:name=".firebase.LoginReg.RegisterationActivity" />
        <activity android:name=".firebase.LoginReg.ForgotPasswordActivity" />
        <activity android:name=".firebase.LoginReg.DashboardActivity" />
        <activity android:name=".map.PolylineDemoActivity" />
        <activity android:name=".material.constraint.ConstraintActivity" />
        <activity android:name=".material.constraint.ConstraintRegister" />
        <activity android:name=".wirelessConnectivity.NsdChatActivity" />
        <activity android:name=".wirelessConnectivity.p2p.P2pActivity" />
        <activity android:name=".imageCaching.CacheDemoActivity" />
        <activity android:name=".imageCaching.demo.ImageViewFromURLActivity"/>
        <activity android:name=".contentProvider.DatabaseActivity" >
        </activity>
        <activity android:name=".contentProvider.CountryEdit"></activity>
        <provider android:name=".contentProvider.MyContentProvider" android:exported="true"
            android:readPermission="true" android:writePermission="true"
            android:authorities="com.example.jagdeepsingh.samplepro.contentProvider" />
    </application>

</manifest>