<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jagdeepsingh.samplepro">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqFovy_6CmSHPJIodZ7VeDrCE5QGIR3J8" />

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".asyncTask.ExecutorActivity"></activity>
        <activity
            android:name=".headless.HeadlessActivity"
            android:screenOrientation="fullSensor"></activity>
        <activity
            android:name=".recycler.MyRecyclerActivity"
            android:screenOrientation="fullSensor"></activity>
        <activity android:name=".map.MapActivity">

        </activity>
        <activity android:name=".camera.BasicCameraActivity">
        </activity>

        <activity android:name=".camera.AndroidCameraApi">

        </activity>

        <activity android:name=".camera.AndroidBackgroundCameraAPI">
        </activity>

        <activity android:name=".material.bottomSheet.BottomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>